streamlit==1.31.0

langgraph==0.0.20
langchain==0.1.20
langchain-community==0.0.38
langchain-openai==0.1.7

openai==1.35.0
tiktoken

faiss-cpu==1.7.4
pypdf==4.0.1

python-dotenv==1.0.1
typing-extensions==4.9.0
